<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">
  👋 Hi, my name is Pol Thill and I'm from Luxembourg.
</p>
<p class="description" data-aos="fade-down">
  🧑‍🎓 I'm currently a Cybersecurity student at the University of Warwick
</p>
<p class="description" data-aos="fade-down">
  💻 I have my own blog named <a class="highlight-link"
    href="https://github.com/longpdo" target="_blank" rel="noreferrer"> Mallux </a> where I write CTF writeups but plan to include other more general Cybersecurity content.
</p>
<p class="description" data-aos="fade-down">
  📡 I'm extremely interested in anything related to Threat Intelligence and Reverse Engineering, so that's what I spend most of my time working on. 
</p>
<p class="description" data-aos="fade-down">
  💼 I'm currently looking for internship opportunities in and close to Europe, preferably in the space of Malware Analysis or Incident Response.
</p>

